
name: Test and Build Gantt Chart

on: [pull_request, push]

env:
  PLUGIN_NAME: gantt-chart-dashboards
  OPENSEARCH_VERSION: '1.x'
  OPENSEARCH_PLUGIN_VERSION: 1.2.0.0

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Plugin
        uses: actions/checkout@v2

      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v2
        with:
          repository: opensearch-project/Opensearch-Dashboards
          ref: ${{ env.OPENSEARCH_VERSION }}
          path: dashboards-visualizations/OpenSearch-Dashboards

      - name: Get node and yarn versions
        id: versions_step
        run: |
          echo "::set-output name=node_version::$(node -p "(require('./dashboards-visualizations/OpenSearch-Dashboards/package.json').engines.node).match(/[.0-9]+/)[0]")"
          echo "::set-output name=yarn_version::$(node -p "(require('./dashboards-visualizations/OpenSearch-Dashboards/package.json').engines.yarn).match(/[.0-9]+/)[0]")"

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ steps.versions_step.outputs.node_version }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install correct yarn version for OpenSearch Dashboards
        run: |
          npm uninstall -g yarn
          echo "Installing yarn ${{ steps.versions_step.outputs.yarn_version }}"
          npm i -g yarn@${{ steps.versions_step.outputs.yarn_version }}

      - name: Move Gantt Chart to Plugins Dir
        run: |
          mv gantt-chart ./dashboards-visualizations/OpenSearch-Dashboards/plugins

      - name: Plugin Bootstrap
        run: |
          cd ./dashboards-visualizations/OpenSearch-Dashboards/plugins/gantt-chart
          yarn osd bootstrap

      - name: Test
        run: |
          cd ./dashboards-visualizations/OpenSearch-Dashboards/plugins/gantt-chart
          yarn test --coverage

      - name: Upload coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          direcotry: ./dashboards-visualizations/OpenSearch-Dashboards/plugins/trace-analytics

      - name: Build Artifact
        run: |
          cd ./dashboards-visualizations/OpenSearch-Dashboards/plugins/gantt-chart
          yarn build
          mv ./build/*.zip ./build/${{ env.PLUGIN_NAME }}-${{ env.OPENSEARCH_PLUGIN_VERSION }}.zip

      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: gantt-chart
          path: ./dashboards-visualizations/OpenSearch-Dashboards/plugins/gantt-chart/build
